<div class="bg-branco min-h-screen p-4">
    <div class="mb-4">
        <a href="/pedidos"><h2 class="text-lg items-center font-semibold text-gray-800 flex"><i><img src="../public/img/seta.svg" alt=""></i>Voltar</h2></a>
    </div>
    <h1 class="text-2xl font-bold text-primary mb-6">Detalhes do Pedido #{{pedido.id}}</h1>
    <div class="bg-white shadow-lg rounded-lg p-6 w3/5">
        <p class="text-gray-600"><strong>Data:</strong> {{pedido.data_hora}}</p>
        <p class="text-gray-600"><strong>Status:</strong>
            <span class="font-bold {{#if (eq status 'entregue')}}text-green-500{{else if (eq status 'a caminho')}}text-yellow-500{{else}}text-red-500{{/if}}">{{pedido.status}}</span>
        </p>
        <p class="text-gray-600"><strong>Total:</strong> R$ {{pedido.total}}</p>

        <div class="bg-gray-50 p-4">
            <h2 class="text-lg font-semibold text-primary">Itens do Pedido</h2>
            <div class="space-y-4">
                {{#each pedido.pedidoItens}}
                <div class="flex items-center justify-between px-4 py-2 bg-gray-50 rounded">
                    <div>
                        <h3 class="text-gray-800 font-semibold">{{produto.nome}}</h3>
                        <p class="text-gray-600">Quantidade: {{quantidade}}</p>
                        <p class="text-gray-600">Preço Unitário: R$ {{valor_unitario}}</p>
                    </div>
                    <div class="text-primary font-bold">Subtotal: R$ {{total}}</div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>